<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <p id="hash"></p>
    <form action="/responder">
        <input type="text" id="input" placeholder="Respuesta" name="respuesta">
        <input type="submit" value="Enviar">
    </form>

    <script>
        if(document.cookie.includes('token')) {
            const token = document.cookie.split('=')[1];
            fetch('/hash', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
            .then(response => response.json())
            .then(data => {
                //display the hash
                document.getElementById('hash').innerText = data.hash;
            });
        }
    </script>
</body>
</html>